<% if @article.errors.any? %>
	<h2>The following errors occur </h2>
	<%= @article.errors.full_messages.each do |msg| %>
		<ul>
			<li>
				<%= msg %>
			</li>
		</ul>
	<% end %>
<% end %>

<%= form_for @article do |f| %>
	<p>
		<%= f.label :title %><br/>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :description %><br/>
		<%= f.text_area :description %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>

<p><%= link_to "Back to articles list", articles_path %></p>